# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# 가상환경
venv/
env/
.env
.venv

# Flask
instance/
.webassets-cache

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# 로컬 결과물
members_result.csv
